body {
  background: #222;
}
.book {
  width: 600px;
  height: 438px;
  position: relative;
  perspective: 1500px;
  margin: auto;
}
.book .page {
  position: absolute;
  top: 20px;
  width: 50%;
  height: 100%;
  color: #fff;
  font-size: 80px;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  z-index: 1;
}
.book .page.left {
  left: 0;
  transform-origin: right;
}
.book .page.right {
  right: 0;
  transform-origin: left;
}
.book .page.current {
  z-index: 2;
}

.book .current.right.page.turn {
  transform: rotateY(-180deg);
}
.book .current.left.page.turn {
  transform: rotateY(180deg);
}

.book .next.left.page {
  transform: rotateY(180deg);
}
.book .next.left.page.turn {
  transform: rotateY(0deg);
}
.book .next.right.page {
}

.book .prev.right.page {
  transform: rotateY(-180deg);
}
.book .prev.right.page.turn {
  transform: rotateY(0deg);
}
.book .prev.left.page {
}

.book .page.tag {
  background: url("img/open.png");
  background-size: cover;
}
.book .page.cover {
  background: url("img/cover.png");
  background-color: #ffcadb;
}
.book .page.dedication {
  background: url("img/dedication.png");
  background-color: #ffcadb;
}
.book .page.one {
  background: url("img/forward.png");
  background-color: #fff;
}
.book .page.two {
  background: url("img/Ralsei2.png");
  background-color: #d3eff5;
}
.book .page.three {
  background: url("img/ralsei3.png");
  background-color: #d3eff5;
}
.book .page.four {
  background: url("img/ralsei3.2.png");
}
.book .page.five {
  background: url("img/ralsei4.png");
  background-color: #3c3c3c;
}
.book .page.six {
  background: url("img/ralsei6.png");
  background-color: #3c3c3c;
}
.book .page.seven {
  background: url("img/ralsei7.png");
  background-color: #3c3c3c;
}
.book .page.eight {
  background: url("img/ralsei8.png");
  background-color: #3c3c3c;
}
.book .page.nine {
  background: url("img/ralsei9.png");
  background-color: #3c3c3c;
}
.book .page.ten {
  background: url("img/ralsei10.png");
  background-color: #fff;
}
.book .page.eleven {
  background: url("img/ralsei12.png");
  background-color: #fff;
}
.book .page.end {
  background: url("img/end.png");
  background-color: #ffcadb;
}
.book .page.space {
  background: transparent;
}

.btns {
  text-align: center;
  width: 600px;
  margin: 40px auto 50px auto;
}
.btns button {
  font-size: 30px;
  margin: 0 10px;
  background:#000;
  width:62px;
  height:52px;
  border: none;
  color: #614e6b;
  outline: none;
  border: solid 2px #614e6b;
}

button:hover{
  border: solid 2px #ffc90e;
  color: #ffc90e;
}
