body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(123deg, #33aacc, #9340c2);
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  .card {
    width: 50em;
    max-width: 100vh;
    height: 35em;
    max-height: 80vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    perspective: 1500px;
    user-select: none;
  }

  .panel {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    transition: transform .9s;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform-origin: left center;
    z-index: 4;
    box-shadow: -5px 3px 10px rgba(0,0,0,0.3);
  }
  .panel:nth-of-type(2n) {
    left: 1px;
    transform-origin: right center;
    transform: rotateY(0);
  }

  input[type=radio] {
    display: none;
  }

  input:checked ~ .panel {
    transform: rotateY(0);
  }
  input:checked ~ .panel:nth-of-type(2n) {
    transform: rotateY(180deg);
  }
  input:checked ~ .panel:nth-of-type(2n-1) {
    z-index: 3;
  }
  input:checked ~ .panel:nth-of-type(2n-1) ~ .panel:nth-of-type(2n-1) {
    z-index: 1;
  }

  .outside {
    width: 50%;
    height: 100%;
    background-color: #dee4e7;
  }
p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 11px;
    text-align: center;
    position: relative;
    top: 85%;
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 35%;
  }
  .outside:first-of-type, .outside:last-of-type {
    background-color: #99ddf9;
  }