body {
  font-size: 16px;
  overflow: hidden;
  background: black;
}

.bottom-particles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.bottom-particles .bubble {
  opacity: 0;
  position: absolute;
  bottom: -1rem;
  width: .5rem;
  height: .5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.bottom-particles .bubble:nth-child(1) {
  left: 99%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 3071ms;
          animation-delay: 3071ms;
}
.bottom-particles .bubble:nth-child(2) {
  left: 35%;
  -webkit-animation: blow 20000ms infinite;
          animation: blow 20000ms infinite;
  -webkit-animation-delay: 607ms;
          animation-delay: 607ms;
}
.bottom-particles .bubble:nth-child(3) {
  left: 84%;
  -webkit-animation: blow 12000ms infinite;
          animation: blow 12000ms infinite;
  -webkit-animation-delay: 3009ms;
          animation-delay: 3009ms;
}
.bottom-particles .bubble:nth-child(4) {
  left: 76%;
  -webkit-animation: blow 12000ms infinite;
          animation: blow 12000ms infinite;
  -webkit-animation-delay: 6228ms;
          animation-delay: 6228ms;
}
.bottom-particles .bubble:nth-child(5) {
  left: 87%;
  -webkit-animation: blow 16000ms infinite;
          animation: blow 16000ms infinite;
  -webkit-animation-delay: 3974ms;
          animation-delay: 3974ms;
}
.bottom-particles .bubble:nth-child(6) {
  left: 61%;
  -webkit-animation: blow 16000ms infinite;
          animation: blow 16000ms infinite;
  -webkit-animation-delay: 2391ms;
          animation-delay: 2391ms;
}
.bottom-particles .bubble:nth-child(7) {
  left: 97%;
  -webkit-animation: blow 22000ms infinite;
          animation: blow 22000ms infinite;
  -webkit-animation-delay: 2430ms;
          animation-delay: 2430ms;
}
.bottom-particles .bubble:nth-child(8) {
  left: 79%;
  -webkit-animation: blow 22000ms infinite;
          animation: blow 22000ms infinite;
  -webkit-animation-delay: 6354ms;
          animation-delay: 6354ms;
}
.bottom-particles .bubble:nth-child(9) {
  left: 89%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 8095ms;
          animation-delay: 8095ms;
}
.bottom-particles .bubble:nth-child(10) {
  left: 71%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 5962ms;
          animation-delay: 5962ms;
}
.bottom-particles .bubble:nth-child(11) {
  left: 36%;
  -webkit-animation: blow 12000ms infinite;
          animation: blow 12000ms infinite;
  -webkit-animation-delay: 11085ms;
          animation-delay: 11085ms;
}
.bottom-particles .bubble:nth-child(12) {
  left: 91%;
  -webkit-animation: blow 22008ms infinite;
          animation: blow 22008ms infinite;
  -webkit-animation-delay: 5282ms;
          animation-delay: 5282ms;
}
.bottom-particles .bubble:nth-child(13) {
  left: 97%;
  -webkit-animation: blow 22008ms infinite;
          animation: blow 22008ms infinite;
  -webkit-animation-delay: 6784ms;
          animation-delay: 6784ms;
}
.bottom-particles .bubble:nth-child(14) {
  left: 35%;
  -webkit-animation: blow 22008ms infinite;
          animation: blow 22008ms infinite;
  -webkit-animation-delay: 560ms;
          animation-delay: 560ms;
}
.bottom-particles .bubble:nth-child(15) {
  left: 35%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 3463ms;
          animation-delay: 3463ms;
}
.bottom-particles .bubble:nth-child(16) {
  left: 99%;
  -webkit-animation: blow 21008ms infinite;
          animation: blow 21008ms infinite;
  -webkit-animation-delay: 1562ms;
          animation-delay: 1562ms;
}
.bottom-particles .bubble:nth-child(17) {
  left: 62%;
  -webkit-animation: blow 28008ms infinite;
          animation: blow 28008ms infinite;
  -webkit-animation-delay: 9044ms;
          animation-delay: 9044ms;
}
.bottom-particles .bubble:nth-child(18) {
  left: 81%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 7754ms;
          animation-delay: 7754ms;
}
.bottom-particles .bubble:nth-child(19) {
  left: 79%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 2555ms;
          animation-delay: 2555ms;
}
.bottom-particles .bubble:nth-child(20) {
  left: 10%;
  -webkit-animation: blow 30008ms infinite;
          animation: blow 30008ms infinite;
  -webkit-animation-delay: 11680ms;
          animation-delay: 11680ms;
}
.bottom-particles .bubble:nth-child(21) {
  left: 16%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 8446ms;
          animation-delay: 8446ms;
}
.bottom-particles .bubble:nth-child(22) {
  left: 96%;
  -webkit-animation: blow 26008ms infinite;
          animation: blow 26008ms infinite;
  -webkit-animation-delay: 2046ms;
          animation-delay: 2046ms;
}
.bottom-particles .bubble:nth-child(23) {
  left: 51%;
  -webkit-animation: blow 26008ms infinite;
          animation: blow 26008ms infinite;
  -webkit-animation-delay: 1293ms;
          animation-delay: 1293ms;
}
.bottom-particles .bubble:nth-child(24) {
  left: 28%;
  -webkit-animation: blow 22000ms infinite;
          animation: blow 22000ms infinite;
  -webkit-animation-delay: 411ms;
          animation-delay: 411ms;
}
.bottom-particles .bubble:nth-child(25) {
  left: 2%;
  -webkit-animation: blow 24000ms infinite;
          animation: blow 24000ms infinite;
  -webkit-animation-delay: 10006ms;
          animation-delay: 10006ms;
}
.bottom-particles .bubble:nth-child(26) {
  left: 71%;
  -webkit-animation: blow 20000 infinite;
          animation: blow 20000 infinite;
  -webkit-animation-delay: 6070ms;
          animation-delay: 6070ms;
}
.bottom-particles .bubble:nth-child(27) {
  left: 42%;
  -webkit-animation: blow 24000 infinite;
          animation: blow 24000 infinite;
  -webkit-animation-delay: 580ms;
          animation-delay: 580ms;
}
.bottom-particles .bubble:nth-child(28) {
  left: 11%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 831ms;
          animation-delay: 831ms;
}
.bottom-particles .bubble:nth-child(29) {
  left: 80%;
  -webkit-animation: blow 16000ms infinite;
          animation: blow 16000ms infinite;
  -webkit-animation-delay: 11529ms;
          animation-delay: 11529ms;
}
.bottom-particles .bubble:nth-child(30) {
  left: 12%;
  -webkit-animation: blow 26008ms infinite;
          animation: blow 26008ms infinite;
  -webkit-animation-delay: 5667ms;
          animation-delay: 5667ms;
}
.bottom-particles .bubble:nth-child(31) {
  left: 34%;
  -webkit-animation: blow 14000ms infinite;
          animation: blow 14000ms infinite;
  -webkit-animation-delay: 5224ms;
          animation-delay: 5224ms;
}
.bottom-particles .bubble:nth-child(32) {
  left: 23%;
  -webkit-animation: blow 14008ms infinite;
          animation: blow 14008ms infinite;
  -webkit-animation-delay: 816ms;
          animation-delay: 816ms;
}
.bottom-particles .bubble:nth-child(33) {
  left: 85%;
  -webkit-animation: blow 18008ms infinite;
          animation: blow 18008ms infinite;
  -webkit-animation-delay: 8902ms;
          animation-delay: 8902ms;
}
.bottom-particles .bubble:nth-child(34) {
  left: 25%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 3763ms;
          animation-delay: 3763ms;
}
.bottom-particles .bubble:nth-child(35) {
  left: 99%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 3421ms;
          animation-delay: 3421ms;
}
.bottom-particles .bubble:nth-child(36) {
  left: 62%;
  -webkit-animation: blow 23008 infinite;
          animation: blow 23008 infinite;
  -webkit-animation-delay: 5232ms;
          animation-delay: 5232ms;
}
.bottom-particles .bubble:nth-child(37) {
  left: 23%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 4518ms;
          animation-delay: 4518ms;
}
.bottom-particles .bubble:nth-child(38) {
  left: 81%;
  -webkit-animation: blow 16008ms infinite;
          animation: blow 16008ms infinite;
  -webkit-animation-delay: 5657ms;
          animation-delay: 5657ms;
}
.bottom-particles .bubble:nth-child(39) {
  left: 69%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 444ms;
          animation-delay: 444ms;
}
.bottom-particles .bubble:nth-child(40) {
  left: 30%;
  -webkit-animation: blow 22008ms infinite;
          animation: blow 22008ms infinite;
  -webkit-animation-delay: 11421ms;
          animation-delay: 11421ms;
}
.bottom-particles .bubble:nth-child(41) {
  left: 52%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 10089ms;
          animation-delay: 10089ms;
}
.bottom-particles .bubble:nth-child(42) {
  left: 59%;
  -webkit-animation: blow 18008ms infinite;
          animation: blow 18008ms infinite;
  -webkit-animation-delay: 11585ms;
          animation-delay: 11585ms;
}
.bottom-particles .bubble:nth-child(43) {
  left: 6%;
  -webkit-animation: blow 14008ms infinite;
          animation: blow 14008ms infinite;
  -webkit-animation-delay: 860ms;
          animation-delay: 860ms;
}
.bottom-particles .bubble:nth-child(44) {
  left: 11%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 2045ms;
          animation-delay: 2045ms;
}
.bottom-particles .bubble:nth-child(45) {
  left: 52%;
  -webkit-animation: blow 11008ms infinite;
          animation: blow 11008ms infinite;
  -webkit-animation-delay: 8019ms;
          animation-delay: 8019ms;
}
.bottom-particles .bubble:nth-child(46) {
  left: 17%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 1158ms;
          animation-delay: 1158ms;
}
.bottom-particles .bubble:nth-child(47) {
  left: 47%;
  -webkit-animation: blow 12008ms infinite;
          animation: blow 12008ms infinite;
  -webkit-animation-delay: 4663ms;
          animation-delay: 4663ms;
}
.bottom-particles .bubble:nth-child(48) {
  left: 77%;
  -webkit-animation: blow 13008ms infinite;
          animation: blow 13008ms infinite;
  -webkit-animation-delay: 9334ms;
          animation-delay: 9334ms;
}
.bottom-particles .bubble:nth-child(49) {
  left: 95%;
  -webkit-animation: blow 18008ms infinite;
          animation: blow 18008ms infinite;
  -webkit-animation-delay: 1765ms;
          animation-delay: 1765ms;
}
.bottom-particles .bubble:nth-child(50) {
  left: 79%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 3396ms;
          animation-delay: 3396ms;
}
.bottom-particles .bubble:nth-child(51) {
  left: 8%;
  -webkit-animation: blow 25008ms infinite;
          animation: blow 25008ms infinite;
  -webkit-animation-delay: 6550ms;
          animation-delay: 6550ms;
}
.bottom-particles .bubble:nth-child(52) {
  left: 10%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 3456ms;
          animation-delay: 3456ms;
}
.bottom-particles .bubble:nth-child(53) {
  left: 75%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 2868ms;
          animation-delay: 2868ms;
}
.bottom-particles .bubble:nth-child(54) {
  left: 83%;
  -webkit-animation: blow 13008ms infinite;
          animation: blow 13008ms infinite;
  -webkit-animation-delay: 5512ms;
          animation-delay: 5512ms;
}
.bottom-particles .bubble:nth-child(55) {
  left: 40%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 9970ms;
          animation-delay: 9970ms;
}
.bottom-particles .bubble:nth-child(56) {
  left: 33%;
  -webkit-animation: blow 22008ms infinite;
          animation: blow 22008ms infinite;
  -webkit-animation-delay: 8950ms;
          animation-delay: 8950ms;
}
.bottom-particles .bubble:nth-child(57) {
  left: 13%;
  -webkit-animation: blow 25008ms infinite;
          animation: blow 25008ms infinite;
  -webkit-animation-delay: 7185ms;
          animation-delay: 7185ms;
}
.bottom-particles .bubble:nth-child(58) {
  left: 19%;
  -webkit-animation: blow 12008ms infinite;
          animation: blow 12008ms infinite;
  -webkit-animation-delay: 1780ms;
          animation-delay: 1780ms;
}
.bottom-particles .bubble:nth-child(59) {
  left: 26%;
  -webkit-animation: blow 13008ms infinite;
          animation: blow 13008ms infinite;
  -webkit-animation-delay: 4108ms;
          animation-delay: 4108ms;
}
.bottom-particles .bubble:nth-child(60) {
  left: 57%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 11725ms;
          animation-delay: 11725ms;
}
.bottom-particles .bubble:nth-child(61) {
  left: 17%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 4201ms;
          animation-delay: 4201ms;
}
.bottom-particles .bubble:nth-child(62) {
  left: 38%;
  -webkit-animation: blow 25008ms infinite;
          animation: blow 25008ms infinite;
  -webkit-animation-delay: 9853ms;
          animation-delay: 9853ms;
}
.bottom-particles .bubble:nth-child(63) {
  left: 37%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 6170ms;
          animation-delay: 6170ms;
}
.bottom-particles .bubble:nth-child(64) {
  left: 7%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 9312ms;
          animation-delay: 9312ms;
}
.bottom-particles .bubble:nth-child(65) {
  left: 5%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 2408ms;
          animation-delay: 2408ms;
}
.bottom-particles .bubble:nth-child(66) {
  left: 97%;
  -webkit-animation: blow 29008ms infinite;
          animation: blow 29008ms infinite;
  -webkit-animation-delay: 3339ms;
          animation-delay: 3339ms;
}
.bottom-particles .bubble:nth-child(67) {
  left: 87%;
  -webkit-animation: blow 16008ms infinite;
          animation: blow 16008ms infinite;
  -webkit-animation-delay: 11419ms;
          animation-delay: 11419ms;
}
.bottom-particles .bubble:nth-child(68) {
  left: 37%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 5445ms;
          animation-delay: 5445ms;
}
.bottom-particles .bubble:nth-child(69) {
  left: 61%;
  -webkit-animation: blow 11008ms infinite;
          animation: blow 11008ms infinite;
  -webkit-animation-delay: 11248ms;
          animation-delay: 11248ms;
}
.bottom-particles .bubble:nth-child(70) {
  left: 78%;
  -webkit-animation: blow 23008ms infinite;
          animation: blow 23008ms infinite;
  -webkit-animation-delay: 11546ms;
          animation-delay: 11546ms;
}
.bottom-particles .bubble:nth-child(71) {
  left: 78%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 7847ms;
          animation-delay: 7847ms;
}
.bottom-particles .bubble:nth-child(72) {
  left: 71%;
  -webkit-animation: blow 21008ms infinite;
          animation: blow 21008ms infinite;
  -webkit-animation-delay: 11727ms;
          animation-delay: 11727ms;
}
.bottom-particles .bubble:nth-child(73) {
  left: 54%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 11184ms;
          animation-delay: 11184ms;
}
.bottom-particles .bubble:nth-child(74) {
  left: 89%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 8870ms;
          animation-delay: 8870ms;
}
.bottom-particles .bubble:nth-child(75) {
  left: 83%;
  -webkit-animation: blow 14008ms infinite;
          animation: blow 14008ms infinite;
  -webkit-animation-delay: 11458ms;
          animation-delay: 11458ms;
}
.bottom-particles .bubble:nth-child(76) {
  left: 20%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 6588ms;
          animation-delay: 6588ms;
}
.bottom-particles .bubble:nth-child(77) {
  left: 38%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 2450ms;
          animation-delay: 2450ms;
}
.bottom-particles .bubble:nth-child(78) {
  left: 94%;
  -webkit-animation: blow 13008ms infinite;
          animation: blow 13008ms infinite;
  -webkit-animation-delay: 1692ms;
          animation-delay: 1692ms;
}
.bottom-particles .bubble:nth-child(79) {
  left: 87%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 2182ms;
          animation-delay: 2182ms;
}
.bottom-particles .bubble:nth-child(80) {
  left: 32%;
  -webkit-animation: blow 22008ms infinite;
          animation: blow 22008ms infinite;
  -webkit-animation-delay: 4662ms;
          animation-delay: 4662ms;
}
.bottom-particles .bubble:nth-child(81) {
  left: 12%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 8209ms;
          animation-delay: 8209ms;
}
.bottom-particles .bubble:nth-child(82) {
  left: 82%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 10744ms;
          animation-delay: 10744ms;
}
.bottom-particles .bubble:nth-child(83) {
  left: 16%;
  -webkit-animation: blow 28008ms infinite;
          animation: blow 28008ms infinite;
  -webkit-animation-delay: 9256ms;
          animation-delay: 9256ms;
}
.bottom-particles .bubble:nth-child(84) {
  left: 48%;
  -webkit-animation: blow 14008ms infinite;
          animation: blow 14008ms infinite;
  -webkit-animation-delay: 6286ms;
          animation-delay: 6286ms;
}
.bottom-particles .bubble:nth-child(85) {
  left: 52%;
  -webkit-animation: blow 24008ms infinite;
          animation: blow 24008ms infinite;
  -webkit-animation-delay: 9290ms;
          animation-delay: 9290ms;
}
.bottom-particles .bubble:nth-child(86) {
  left: 7%;
  -webkit-animation: blow 20008ms infinite;
          animation: blow 20008ms infinite;
  -webkit-animation-delay: 6604ms;
          animation-delay: 6604ms;
}
.bottom-particles .bubble:nth-child(87) {
  left: 89%;
  -webkit-animation: blow 20008ms infinite;
          animation: blow 20008ms infinite;
  -webkit-animation-delay: 4720ms;
          animation-delay: 4720ms;
}
.bottom-particles .bubble:nth-child(88) {
  left: 87%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 11168ms;
          animation-delay: 11168ms;
}
.bottom-particles .bubble:nth-child(89) {
  left: 66%;
  -webkit-animation: blow 19008ms infinite;
          animation: blow 19008ms infinite;
  -webkit-animation-delay: 8792ms;
          animation-delay: 8792ms;
}
.bottom-particles .bubble:nth-child(90) {
  left: 93%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 9657ms;
          animation-delay: 9657ms;
}
.bottom-particles .bubble:nth-child(91) {
  left: 8%;
  -webkit-animation: blow 27008ms infinite;
          animation: blow 27008ms infinite;
  -webkit-animation-delay: 8817ms;
          animation-delay: 8817ms;
}
.bottom-particles .bubble:nth-child(92) {
  left: 37%;
  -webkit-animation: blow 28008ms infinite;
          animation: blow 28008ms infinite;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.bottom-particles .bubble:nth-child(93) {
  left: 96%;
  -webkit-animation: blow 19008ms infinite;
          animation: blow 19008ms infinite;
  -webkit-animation-delay: 7020ms;
          animation-delay: 7020ms;
}
.bottom-particles .bubble:nth-child(94) {
  left: 74%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 2205ms;
          animation-delay: 2205ms;
}
.bottom-particles .bubble:nth-child(95) {
  left: 39%;
  -webkit-animation: blow 16008ms infinite;
          animation: blow 16008ms infinite;
  -webkit-animation-delay: 9677ms;
          animation-delay: 9677ms;
}
.bottom-particles .bubble:nth-child(96) {
  left: 28%;
  -webkit-animation: blow 28008ms infinite;
          animation: blow 28008ms infinite;
  -webkit-animation-delay: 7596ms;
          animation-delay: 7596ms;
}
.bottom-particles .bubble:nth-child(97) {
  left: 52%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 8138ms;
          animation-delay: 8138ms;
}
.bottom-particles .bubble:nth-child(98) {
  left: 68%;
  -webkit-animation: blow 28008ms infinite;
          animation: blow 28008ms infinite;
  -webkit-animation-delay: 8066ms;
          animation-delay: 8066ms;
}
.bottom-particles .bubble:nth-child(99) {
  left: 17%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 3501ms;
          animation-delay: 3501ms;
}
.bottom-particles .bubble:nth-child(100) {
  left: 4%;
  -webkit-animation: blow 20008ms infinite;
          animation: blow 20008ms infinite;
  -webkit-animation-delay: 6521ms;
          animation-delay: 6521ms;
}
.bottom-particles .bubble:nth-child(101) {
  left: 18%;
  -webkit-animation: blow 20008ms infinite;
          animation: blow 20008ms infinite;
  -webkit-animation-delay: 8016ms;
          animation-delay: 8016ms;
}
.bottom-particles .bubble:nth-child(102) {
  left: 67%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 11965ms;
          animation-delay: 11965ms;
}
.bottom-particles .bubble:nth-child(103) {
  left: 8%;
  -webkit-animation: blow 12008ms infinite;
          animation: blow 12008ms infinite;
  -webkit-animation-delay: 6819ms;
          animation-delay: 6819ms;
}
.bottom-particles .bubble:nth-child(104) {
  left: 76%;
  -webkit-animation: blow 15008ms infinite;
          animation: blow 15008ms infinite;
  -webkit-animation-delay: 8878ms;
          animation-delay: 8878ms;
}
.bottom-particles .bubble:nth-child(105) {
  left: 6%;
  -webkit-animation: blow 26008ms infinite;
          animation: blow 26008ms infinite;
  -webkit-animation-delay: 11491ms;
          animation-delay: 11491ms;
}
.bottom-particles .bubble:nth-child(106) {
  left: 85%;
  -webkit-animation: blow 20008ms infinite;
          animation: blow 20008ms infinite;
  -webkit-animation-delay: 762ms;
          animation-delay: 762ms;
}
.bottom-particles .bubble:nth-child(107) {
  left: 22%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 9943ms;
          animation-delay: 9943ms;
}
.bottom-particles .bubble:nth-child(108) {
  left: 21%;
  -webkit-animation: blow 19008ms infinite;
          animation: blow 19008ms infinite;
  -webkit-animation-delay: 6352ms;
          animation-delay: 6352ms;
}
.bottom-particles .bubble:nth-child(109) {
  left: 88%;
  -webkit-animation: blow 20008ms infinite;
          animation: blow 20008ms infinite;
  -webkit-animation-delay: 5559ms;
          animation-delay: 5559ms;
}
.bottom-particles .bubble:nth-child(110) {
  left: 34%;
  -webkit-animation: blow 19008ms infinite;
          animation: blow 19008ms infinite;
  -webkit-animation-delay: 9029ms;
          animation-delay: 9029ms;
}
.bottom-particles .bubble:nth-child(111) {
  left: 45%;
  -webkit-animation: blow 30008ms infinite;
          animation: blow 30008ms infinite;
  -webkit-animation-delay: 521ms;
          animation-delay: 521ms;
}
.bottom-particles .bubble:nth-child(112) {
  left: 66%;
  -webkit-animation: blow 29008ms infinite;
          animation: blow 29008ms infinite;
  -webkit-animation-delay: 4529ms;
          animation-delay: 4529ms;
}
.bottom-particles .bubble:nth-child(113) {
  left: 85%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 7084ms;
          animation-delay: 7084ms;
}
.bottom-particles .bubble:nth-child(114) {
  left: 77%;
  -webkit-animation: blow 24008ms infinite;
          animation: blow 24008ms infinite;
  -webkit-animation-delay: 10215ms;
          animation-delay: 10215ms;
}
.bottom-particles .bubble:nth-child(115) {
  left: 91%;
  -webkit-animation: blow 24008ms infinite;
          animation: blow 24008ms infinite;
  -webkit-animation-delay: 2083ms;
          animation-delay: 2083ms;
}
.bottom-particles .bubble:nth-child(116) {
  left: 68%;
  -webkit-animation: blow 13008ms infinite;
          animation: blow 13008ms infinite;
  -webkit-animation-delay: 5382ms;
          animation-delay: 5382ms;
}
.bottom-particles .bubble:nth-child(117) {
  left: 72%;
  -webkit-animation: blow 28008ms infinite;
          animation: blow 28008ms infinite;
  -webkit-animation-delay: 6076ms;
          animation-delay: 6076ms;
}
.bottom-particles .bubble:nth-child(118) {
  left: 60%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 4854ms;
          animation-delay: 4854ms;
}
.bottom-particles .bubble:nth-child(119) {
  left: 41%;
  -webkit-animation: blow 12008ms infinite;
          animation: blow 12008ms infinite;
  -webkit-animation-delay: 4064ms;
          animation-delay: 4064ms;
}
.bottom-particles .bubble:nth-child(120) {
  left: 4%;
  -webkit-animation: blow 29008ms infinite;
          animation: blow 29008ms infinite;
  -webkit-animation-delay: 5159ms;
          animation-delay: 5159ms;
}
.bottom-particles .bubble:nth-child(121) {
  left: 36%;
  -webkit-animation: blow 18008ms infinite;
          animation: blow 18008ms infinite;
  -webkit-animation-delay: 11432ms;
          animation-delay: 11432ms;
}
.bottom-particles .bubble:nth-child(122) {
  left: 38%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 9581ms;
          animation-delay: 9581ms;
}
.bottom-particles .bubble:nth-child(123) {
  left: 83%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 9436ms;
          animation-delay: 9436ms;
}
.bottom-particles .bubble:nth-child(124) {
  left: 21%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 6770ms;
          animation-delay: 6770ms;
}
.bottom-particles .bubble:nth-child(125) {
  left: 25%;
  -webkit-animation: blow 23008ms infinite;
          animation: blow 23008ms infinite;
  -webkit-animation-delay: 5479ms;
          animation-delay: 5479ms;
}
.bottom-particles .bubble:nth-child(126) {
  left: 55%;
  -webkit-animation: blow 18008ms infinite;
          animation: blow 18008ms infinite;
  -webkit-animation-delay: 10451ms;
          animation-delay: 10451ms;
}
.bottom-particles .bubble:nth-child(127) {
  left: 70%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 9051ms;
          animation-delay: 9051ms;
}
.bottom-particles .bubble:nth-child(128) {
  left: 77%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 3729ms;
          animation-delay: 3729ms;
}
.bottom-particles .bubble:nth-child(129) {
  left: 99%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 9486ms;
          animation-delay: 9486ms;
}
.bottom-particles .bubble:nth-child(130) {
  left: 68%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.bottom-particles .bubble:nth-child(131) {
  left: 66%;
  -webkit-animation: blow 23008ms infinite;
          animation: blow 23008ms infinite;
  -webkit-animation-delay: 6631ms;
          animation-delay: 6631ms;
}
.bottom-particles .bubble:nth-child(132) {
  left: 46%;
  -webkit-animation: blow 22008ms infinite;
          animation: blow 22008ms infinite;
  -webkit-animation-delay: 8917ms;
          animation-delay: 8917ms;
}
.bottom-particles .bubble:nth-child(133) {
  left: 10%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 9636ms;
          animation-delay: 9636ms;
}
.bottom-particles .bubble:nth-child(134) {
  left: 70%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 5745ms;
          animation-delay: 5745ms;
}
.bottom-particles .bubble:nth-child(135) {
  left: 74%;
  -webkit-animation: blow 14008ms infinite;
          animation: blow 14008ms infinite;
  -webkit-animation-delay: 759ms;
          animation-delay: 759ms;
}
.bottom-particles .bubble:nth-child(136) {
  left: 52%;
  -webkit-animation: blow 20008ms infinite;
          animation: blow 20008ms infinite;
  -webkit-animation-delay: 9138ms;
          animation-delay: 9138ms;
}
.bottom-particles .bubble:nth-child(137) {
  left: 58%;
  -webkit-animation: blow 24008ms infinite;
          animation: blow 24008ms infinite;
  -webkit-animation-delay: 1696ms;
          animation-delay: 1696ms;
}
.bottom-particles .bubble:nth-child(138) {
  left: 19%;
  -webkit-animation: blow 29008ms infinite;
          animation: blow 29008ms infinite;
  -webkit-animation-delay: 10748ms;
          animation-delay: 10748ms;
}
.bottom-particles .bubble:nth-child(139) {
  left: 66%;
  -webkit-animation: blow 18008ms infinite;
          animation: blow 18008ms infinite;
  -webkit-animation-delay: 3803ms;
          animation-delay: 3803ms;
}
.bottom-particles .bubble:nth-child(140) {
  left: 13%;
  -webkit-animation: blow 20008ms infinite;
          animation: blow 20008ms infinite;
  -webkit-animation-delay: 3190ms;
          animation-delay: 3190ms;
}
.bottom-particles .bubble:nth-child(141) {
  left: 5%;
  -webkit-animation: blow 12008ms infinite;
          animation: blow 12008ms infinite;
  -webkit-animation-delay: 2773ms;
          animation-delay: 2773ms;
}
.bottom-particles .bubble:nth-child(142) {
  left: 15%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 10441ms;
          animation-delay: 10441ms;
}
.bottom-particles .bubble:nth-child(143) {
  left: 77%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 10295ms;
          animation-delay: 10295ms;
}
.bottom-particles .bubble:nth-child(144) {
  left: 83%;
  -webkit-animation: blow 25008ms infinite;
          animation: blow 25008ms infinite;
  -webkit-animation-delay: 10612ms;
          animation-delay: 10612ms;
}
.bottom-particles .bubble:nth-child(145) {
  left: 22%;
  -webkit-animation: blow 18008ms infinite;
          animation: blow 18008ms infinite;
  -webkit-animation-delay: 1509ms;
          animation-delay: 1509ms;
}
.bottom-particles .bubble:nth-child(146) {
  left: 80%;
  -webkit-animation: blow 27008ms infinite;
          animation: blow 27008ms infinite;
  -webkit-animation-delay: 4251ms;
          animation-delay: 4251ms;
}
.bottom-particles .bubble:nth-child(147) {
  left: 64%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 11853ms;
          animation-delay: 11853ms;
}
.bottom-particles .bubble:nth-child(148) {
  left: 74%;
  -webkit-animation: blow 29008ms infinite;
          animation: blow 29008ms infinite;
  -webkit-animation-delay: 8748ms;
          animation-delay: 8748ms;
}
.bottom-particles .bubble:nth-child(149) {
  left: 49%;
  -webkit-animation: blow 28008ms infinite;
          animation: blow 28008ms infinite;
  -webkit-animation-delay: 4053ms;
          animation-delay: 4053ms;
}
.bottom-particles .bubble:nth-child(150) {
  left: 76%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 10996ms;
          animation-delay: 10996ms;
}
.bottom-particles .bubble:nth-child(151) {
  left: 53%;
  -webkit-animation: blow 16008ms infinite;
          animation: blow 16008ms infinite;
  -webkit-animation-delay: 356ms;
          animation-delay: 356ms;
}
.bottom-particles .bubble:nth-child(152) {
  left: 100%;
  -webkit-animation: blow 14008ms infinite;
          animation: blow 14008ms infinite;
  -webkit-animation-delay: 7740ms;
          animation-delay: 7740ms;
}
.bottom-particles .bubble:nth-child(153) {
  left: 74%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 3716ms;
          animation-delay: 3716ms;
}
.bottom-particles .bubble:nth-child(154) {
  left: 63%;
  -webkit-animation: blow 18008ms infinite;
          animation: blow 18008ms infinite;
  -webkit-animation-delay: 3897ms;
          animation-delay: 3897ms;
}
.bottom-particles .bubble:nth-child(155) {
  left: 32%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 410ms;
          animation-delay: 410ms;
}
.bottom-particles .bubble:nth-child(156) {
  left: 77%;
  -webkit-animation: blow 24008ms infinite;
          animation: blow 24008ms infinite;
  -webkit-animation-delay: 10935ms;
          animation-delay: 10935ms;
}
.bottom-particles .bubble:nth-child(157) {
  left: 4%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 516ms;
          animation-delay: 516ms;
}
.bottom-particles .bubble:nth-child(158) {
  left: 87%;
  -webkit-animation: blow 16008ms infinite;
          animation: blow 16008ms infinite;
  -webkit-animation-delay: 1260ms;
          animation-delay: 1260ms;
}
.bottom-particles .bubble:nth-child(159) {
  left: 84%;
  -webkit-animation: blow 20008ms infinite;
          animation: blow 20008ms infinite;
  -webkit-animation-delay: 8121ms;
          animation-delay: 8121ms;
}
.bottom-particles .bubble:nth-child(160) {
  left: 86%;
  -webkit-animation: blow 11008ms infinite;
          animation: blow 11008ms infinite;
  -webkit-animation-delay: 6526ms;
          animation-delay: 6526ms;
}
.bottom-particles .bubble:nth-child(161) {
  left: 98%;
  -webkit-animation: blow 20008ms infinite;
          animation: blow 20008ms infinite;
  -webkit-animation-delay: 4080ms;
          animation-delay: 4080ms;
}
.bottom-particles .bubble:nth-child(162) {
  left: 24%;
  -webkit-animation: blow 28008ms infinite;
          animation: blow 28008ms infinite;
  -webkit-animation-delay: 10673ms;
          animation-delay: 10673ms;
}
.bottom-particles .bubble:nth-child(163) {
  left: 9%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 1097ms;
          animation-delay: 1097ms;
}
.bottom-particles .bubble:nth-child(164) {
  left: 45%;
  -webkit-animation: blow 14008ms infinite;
          animation: blow 14008ms infinite;
  -webkit-animation-delay: 6357ms;
          animation-delay: 6357ms;
}
.bottom-particles .bubble:nth-child(165) {
  left: 1%;
  -webkit-animation: blow 20008ms infinite;
          animation: blow 20008ms infinite;
  -webkit-animation-delay: 7938ms;
          animation-delay: 7938ms;
}
.bottom-particles .bubble:nth-child(166) {
  left: 77%;
  -webkit-animation: blow 28008ms infinite;
          animation: blow 28008ms infinite;
  -webkit-animation-delay: 10936ms;
          animation-delay: 10936ms;
}
.bottom-particles .bubble:nth-child(167) {
  left: 13%;
  -webkit-animation: blow 24008ms infinite;
          animation: blow 24008ms infinite;
  -webkit-animation-delay: 8377ms;
          animation-delay: 8377ms;
}
.bottom-particles .bubble:nth-child(168) {
  left: 66%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 3748ms;
          animation-delay: 3748ms;
}
.bottom-particles .bubble:nth-child(169) {
  left: 39%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 403ms;
          animation-delay: 403ms;
}
.bottom-particles .bubble:nth-child(170) {
  left: 87%;
  -webkit-animation: blow 17008ms infinite;
          animation: blow 17008ms infinite;
  -webkit-animation-delay: 6342ms;
          animation-delay: 6342ms;
}
.bottom-particles .bubble:nth-child(171) {
  left: 30%;
  -webkit-animation: blow 18008ms infinite;
          animation: blow 18008ms infinite;
  -webkit-animation-delay: 706ms;
          animation-delay: 706ms;
}
.bottom-particles .bubble:nth-child(172) {
  left: 76%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 7791ms;
          animation-delay: 7791ms;
}
.bottom-particles .bubble:nth-child(173) {
  left: 83%;
  -webkit-animation: blow 16008ms infinite;
          animation: blow 16008ms infinite;
  -webkit-animation-delay: 1325ms;
          animation-delay: 1325ms;
}
.bottom-particles .bubble:nth-child(174) {
  left: 39%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 10936ms;
          animation-delay: 10936ms;
}
.bottom-particles .bubble:nth-child(175) {
  left: 51%;
  -webkit-animation: blow 22008ms infinite;
          animation: blow 22008ms infinite;
  -webkit-animation-delay: 4854ms;
          animation-delay: 4854ms;
}
.bottom-particles .bubble:nth-child(176) {
  left: 32%;
  -webkit-animation: blow 15008ms infinite;
          animation: blow 15008ms infinite;
  -webkit-animation-delay: 4918ms;
          animation-delay: 4918ms;
}
.bottom-particles .bubble:nth-child(177) {
  left: 18%;
  -webkit-animation: blow 13008ms infinite;
          animation: blow 13008ms infinite;
  -webkit-animation-delay: 7828ms;
          animation-delay: 7828ms;
}
.bottom-particles .bubble:nth-child(178) {
  left: 71%;
  -webkit-animation: blow 21008ms infinite;
          animation: blow 21008ms infinite;
  -webkit-animation-delay: 7345ms;
          animation-delay: 7345ms;
}
.bottom-particles .bubble:nth-child(179) {
  left: 92%;
  -webkit-animation: blow 25008ms infinite;
          animation: blow 25008ms infinite;
  -webkit-animation-delay: 1208ms;
          animation-delay: 1208ms;
}
.bottom-particles .bubble:nth-child(180) {
  left: 69%;
  -webkit-animation: blow 15008ms infinite;
          animation: blow 15008ms infinite;
  -webkit-animation-delay: 2804ms;
          animation-delay: 2804ms;
}
.bottom-particles .bubble:nth-child(181) {
  left: 31%;
  -webkit-animation: blow 12008ms infinite;
          animation: blow 12008ms infinite;
  -webkit-animation-delay: 3220ms;
          animation-delay: 3220ms;
}
.bottom-particles .bubble:nth-child(182) {
  left: 54%;
  -webkit-animation: blow 12008ms infinite;
          animation: blow 12008ms infinite;
  -webkit-animation-delay: 2287ms;
          animation-delay: 2287ms;
}
.bottom-particles .bubble:nth-child(183) {
  left: 24%;
  -webkit-animation: blow 18008ms infinite;
          animation: blow 18008ms infinite;
  -webkit-animation-delay: 8336ms;
          animation-delay: 8336ms;
}
.bottom-particles .bubble:nth-child(184) {
  left: 55%;
  -webkit-animation: blow 14008ms infinite;
          animation: blow 14008ms infinite;
  -webkit-animation-delay: 9736ms;
          animation-delay: 9736ms;
}
.bottom-particles .bubble:nth-child(185) {
  left: 33%;
  -webkit-animation: blow 11008ms infinite;
          animation: blow 11008ms infinite;
  -webkit-animation-delay: 9268ms;
          animation-delay: 9268ms;
}
.bottom-particles .bubble:nth-child(186) {
  left: 57%;
  -webkit-animation: blow 11008ms infinite;
          animation: blow 11008ms infinite;
  -webkit-animation-delay: 5381ms;
          animation-delay: 5381ms;
}
.bottom-particles .bubble:nth-child(187) {
  left: 20%;
  -webkit-animation: blow 23008ms infinite;
          animation: blow 23008ms infinite;
  -webkit-animation-delay: 8571ms;
          animation-delay: 8571ms;
}
.bottom-particles .bubble:nth-child(188) {
  left: 90%;
  -webkit-animation: blow 17008ms infinite;
          animation: blow 17008ms infinite;
  -webkit-animation-delay: 9316ms;
          animation-delay: 9316ms;
}
.bottom-particles .bubble:nth-child(189) {
  left: 37%;
  -webkit-animation: blow 12008ms infinite;
          animation: blow 12008ms infinite;
  -webkit-animation-delay: 6410ms;
          animation-delay: 6410ms;
}
.bottom-particles .bubble:nth-child(190) {
  left: 47%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 10612ms;
          animation-delay: 10612ms;
}
.bottom-particles .bubble:nth-child(191) {
  left: 15%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 8670ms;
          animation-delay: 8670ms;
}
.bottom-particles .bubble:nth-child(192) {
  left: 63%;
  -webkit-animation: blow 13008ms infinite;
          animation: blow 13008ms infinite;
  -webkit-animation-delay: 6701ms;
          animation-delay: 6701ms;
}
.bottom-particles .bubble:nth-child(193) {
  left: 10%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 10286ms;
          animation-delay: 10286ms;
}
.bottom-particles .bubble:nth-child(194) {
  left: 13%;
  -webkit-animation: blow 23008ms infinite;
          animation: blow 23008ms infinite;
  -webkit-animation-delay: 7048ms;
          animation-delay: 7048ms;
}
.bottom-particles .bubble:nth-child(195) {
  left: 56%;
  -webkit-animation: blow 25008ms infinite;
          animation: blow 25008ms infinite;
  -webkit-animation-delay: 1135ms;
          animation-delay: 1135ms;
}
.bottom-particles .bubble:nth-child(196) {
  left: 45%;
  -webkit-animation: blow 26008ms infinite;
          animation: blow 26008ms infinite;
  -webkit-animation-delay: 1039ms;
          animation-delay: 1039ms;
}
.bottom-particles .bubble:nth-child(197) {
  left: 79%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 6463ms;
          animation-delay: 6463ms;
}
.bottom-particles .bubble:nth-child(198) {
  left: 83%;
  -webkit-animation: blow 10008ms infinite;
          animation: blow 10008ms infinite;
  -webkit-animation-delay: 5954ms;
          animation-delay: 5954ms;
}
.bottom-particles .bubble:nth-child(199) {
  left: 55%;
  -webkit-animation: blow 21008ms infinite;
          animation: blow 21008ms infinite;
  -webkit-animation-delay: 8861ms;
          animation-delay: 8861ms;
}
.bottom-particles .bubble:nth-child(200) {
  left: 41%;
  -webkit-animation: blow 16008ms infinite;
          animation: blow 16008ms infinite;
  -webkit-animation-delay: 7870ms;
          animation-delay: 7870ms;
}

@-webkit-keyframes blow {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -100vh) scale(0.2);
            transform: translate(0, -100vh) scale(0.2);
  }
}

@keyframes blow {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -100vh) scale(0.2);
            transform: translate(0, -100vh) scale(0.2);
  }
}
